body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.left, .right {
  padding: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left button {
  background-color: #1f89facc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 0 2px 2px #9ca8b4;
  
}
.left button:hover{
  background-color: #1f89fa;
}
.left .left-key-display {
  border: 1px solid rgba(1, 151, 252, 0.1);
  box-shadow: 0 2px 2px rgba(1, 151, 252, 0.945);
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
  width: 100px;
}
.right {
  text-align: center;
}
.right input {
  width: 300px;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #cababa;
  box-shadow: 0 2px 2px rgba(119, 115, 115, 0.5);
  background-color: rgb(236, 247, 243);
}
.right .key-pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.right .key-pad button {
  font-size: 18px;
  padding: 20px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 90px;
  background-color: rgba(38, 41, 40, 0.726);
  box-shadow: 0 2px 2px rgba(1, 151, 252, 0.945);
}
.right .key-pad button:hover{
  background-color: #3498db;
  transition: background-color 0.3s;
  box-shadow: rgba(245, 248, 247, 0.726);
}
.right .key-pad button.clear {
  background-color: #b22222;
  color: white;
  box-shadow: 0 2px 2px rgba(253, 148, 148, 0.945);
}
.right .key-pad button.clear:hover{
  background-color: #CC0000;
}
.right .key-pad button.submit {
  background-color: #24b624;
  color: white;
  box-shadow: 0 2px 2px rgba(186, 250, 197, 0.842);
  grid-column: 2 / span 2;
  grid-row: 4;
  width: 120px;
  margin-left: 30px;
}
.right .key-pad button.submit:hover{
  background-color: #11e211;
}
.right .key-pad button.delete {
  background-color: #dd9633;
  color: white;
  box-shadow: 0 2px 2px rgb(250, 228, 182);
}
.right .key-pad button.delete:hover{
  background-color: #e98b08;
}
.right .message {
  margin-top: 20px;
  font-size: 18px;
}
.right .message span#matched {
  color: limegreen;
}
.right .message span#not-matched {
  color: rgb(247, 4, 4);
}